<!doctype html>
<html>
  <head>

    <meta charset="utf-8">
    <title>West Bay Clinical Research</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- ************************************* -->
    <!-- Load all required CSS for Grove Theme -->
    <!-- ************************************* -->

    <!-- Bootstrap styles -->
    <link rel="stylesheet" href="/_grove/css/vendor/bootstrap/bootstrap.css">

    <!-- Glyphicons -->
    <link rel="stylesheet" href="/_grove/css/vendor/glyphicons/glyphicons.css">

    <!-- Google Webfonts -->
    <link rel="stylesheet" href="/_grove/css/vendor/google-fonts.css">

    <!-- LayerSlider styles -->
    <link rel="stylesheet" href="/_grove/css/vendor/layerslider/layerslider.css">

    <!-- Grove Styles (switch for different color schemes") -->
    <link rel="stylesheet" href="/_grove/css/styles-blue.css" id="grove-styles">

    <!-- BxSlider CSS for Slide Transitions -->
    <link rel="stylesheet" href="/_bxslider/jquery.bxslider.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/custom.css">

    <!--[if lt IE 9]>
        <link rel="stylesheet" href="_grove/css/ie8.css">        
        <script src="/_grove/js/vendor/google/html5-3.6-respond-1.1.0.min.js"></script>
    <![endif]-->

    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-46867822-1', 'westbayclinicalresearch.com');
      ga('send', 'pageview');
    </script>

  </head>

  <!-- Body of Application -->
  
  <body>

    <%= partial(:'layout/header') %>

    <% if @index %>
      <%= yield %>
    <% else %>
      <div class="container content">
        <%= yield %>
      </div>
    <% end %>

    <%= partial(:'layout/footer') %>

    <!-- Load Custom JavaScript -->
    <%= javascripts %>

    <!-- ******************************************** -->
    <!-- Load all required JavaScript for Grove Theme -->
    <!-- ******************************************** -->

    <script src="/_grove/js/vendor/jquery/jquery-1.9.1.min.js"></script>
    
    <!-- jQuery with jQuery Easing, and jQuery Transit JS -->
    <script src="/_grove/js/vendor/layerslider/jquery-easing-1.3.js"></script>
    <script src="/_grove/js/vendor/layerslider/jquery-transit-modified.js"></script>
     
    <!-- LayerSlider from Kreatura Media with Transitions -->
    <script src="/_grove/js/vendor/layerslider/layerslider.transitions.js"></script>
    <script src="/_grove/js/vendor/layerslider/layerslider.kreaturamedia.jquery.js"></script>

    <!-- Grove Layerslider initiation script -->
    <script src="/_grove/js/grove-slider.js"></script>
    <script src="/_grove/js/vendor/bootstrap/bootstrap.min.js"></script>
    <script src="/_grove/js/vendor/modernizr/modernizr.js"></script>

    <!-- BxSlider JS for Slide Transitions -->
    <script src="/_bxslider/jquery.bxslider.js"></script>

    <!-- Start of Async HubSpot Analytics Code -->
    <script type="text/javascript">
      (function(d,s,i,r) {
      if (d.getElementById(i)){return;}
      var n=d.createElement(s),e=d.getElementsByTagName(s)[0];
      n.id=i;n.src='//js.hs-analytics.net/analytics/'+(Math.ceil(new Date()/r)*r)+'/329670.js';
      e.parentNode.insertBefore(n, e);
      })(document,"script","hs-analytics",300000);
    </script>
    <!-- End of Async HubSpot Analytics Code -->

  </body>
</html>