<!-- TODO: jQuery for 'Active' element switching. -->

<header>
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">

      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <img src="/img/wbcr_logo.png">
        </a>
      </div>

      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <%= link_to("/", "Home") %>
          </li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Learn More <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li>
                <%= link_to("/learnmore/about", "About Us") %>
              </li>
              <li>
                <%= link_to("/learnmore/facility", "Facility and Services") %>
              </li>
            </ul>
          </li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Trials <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li>
                <%= link_to("/trial/information", "Trial Information") %>
              </li>
              <li>
                <%= link_to("/trial/sponsor", "Sponsor a Trial") %>
              </li>
              <li>
                <%= link_to("/trial/volunteer", "Volunteer for a Trial") %>
              </li>
            </ul>
          </li>

          <li>
            <%= link_to("/", "Blog") %>
          </li>

          <li>
            <li><%= link_to("/contact", "Contact Us") %></li>
          </li>

          <li>
            <li><%= link_to("/faq", "FAQ") %></li>
          </li>
        </ul>
      </div>

    </div>
  </div>
</header>