<header>

  <nav class="navbar navbar-default grove-navbar" role="navigation">
    <div class="container">
      
      <div class="navbar-header">
        <a href="#" class="grove-toggle" data-toggle="collapse" data-target=".grove-nav">
          <i class="glyphicons show_lines"><i></i>
          </i>
        </a>
        <a href="/" class="navbar-brand">
          <img class="header-logo" src="/img/wbcr_logo.png" alt="West Bay Clinical Research">
        </a>
      </div>

      <!-- Need jQuery to figure out which menu item is active. -->
      <!-- Insert Sinatra link_to helper tags for webpages. -->

      <div class="collapse navbar-collapse grove-nav">
          <ul class="nav navbar-nav">
            
            <li class="active">
              <a href="/">Home</a>
            </li>
            
            <li class="dropdown">
              <a href="#" data-toggle="dropdown">Learn More<b class="caret"></b></a>
              <ul class = "dropdown-menu">
                <li><%= link_to("/learnmore/facility", "Facility") %></li>
                <li><%= link_to("/learnmore/team", "Team") %></li>
              </ul>
            </li>

            <li>
              <a href="#">Blog</a>
            </li>                        

            <li class="dropdown">
              <a href="#" data-toggle="dropdown">Trials<b class="caret"></b></a>
              <ul class = "dropdown-menu">
                <li><%= link_to("/trial/information", "Trial Information") %></li>
                <li><%= link_to("/trial/sponsor", "Sponsor a Trial") %></li>
                <li><%= link_to("/trial/volunteer", "Volunteer for a Trial") %></li>
              </ul>
            </li>

            <li>
              <li><%= link_to("/contact", "Contact Us") %></li>
            </li>

          </ul>        
      </div>

    </div>
  </nav>

</header>