<!-- TODO: jQuery for 'Active' element switching. -->

<header>
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" id="collapse-btn" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
          <img src="/img/wbcr_logo.png">
        </a>
      </div>

      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <%= link_to("/", "Home") %>
          </li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Learn More <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li>
                <%= link_to("/learnmore/about", "About Us") %>
              </li>
              <li>
                <%= link_to("/learnmore/facility", "Facility and Services") %>
              </li>
              <li>
                <%= link_to("/learnmore/experience", "Our Experience") %>
              </li>
              <li class="divider">
              <li>
                <%= link_to("/learnmore/sponsor", "Sponsor a Trial") %>
              </li>
            </ul>
          </li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Trials <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li>
                <%= link_to("/trial/heart-attack", "Heart Attack") %>
              </li>
              <li>
                <%= link_to("/trial/ulcerative-colitis", "Ulcerative Colitis") %>
              </li>
              <li>
                <%= link_to("/trial/upcoming-trials", "Upcoming Trials") %>
              </li>
              <li class="divider"></li>
              <li>
                <%= link_to("/trial/volunteer", "Volunteer for a Trial") %>
              </li>
            </ul>
          </li>
          
          <li>
            <li><%= link_to("/contact", "Contact Us") %></li>
          </li>

          <li>
            <li><%= link_to("/faq", "FAQ") %></li>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>